<div class="row border-bottom mb-5">
  <div class="col-7">
    <h1 class="pb-4 mi-l"><img src="/media/images/common/lmson.png"  style="width:48px;height:auto;"> {{ SITE_NAME }}</h1>
  </div>
  <div class="col-5">
    <ul class="nav justify-content-end h5">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:index' %}" class="text-decoration-none">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'query:index' %}" class="text-decoration-none">お問い合わせ</a>
      </li>
    </ul>
  </div>
</div>